@media (prefers-color-scheme: dark) {
  body {
    background-color: #1b1b1b;
    color: white;
  }

  a {
    color: #8cb4ff;
  }

  a:visited {
    color: #ffadff;
  }
}

body {
  width: 680px;
  max-width: 95%;
  margin: auto;
  padding-bottom: 3rem;
  font-size: 1.1em;
  font-family: Georgia, "Bitstream Charter", serif;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

nav li+li::before {
  content: " | ";
}

nav li img.feed {
  top: 2px;
  position: relative;
}

h1 {
  padding-top: 0.5em;
}

p {
  line-height: 150%;
}

table.posts td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  vertical-align: top;
}

table.posts time {
  padding-right: 0.5em;
  white-space: nowrap;
}

img {
  max-width: 100%;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #ccc;
  margin: 1em;
  padding: 0 1em;
}
