body {
  width: 680px;
  max-width: 95%;
  margin: auto;
  padding-bottom: 3rem;
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a {
  text-decoration: none;
}

p {
  line-height: 138%;
}

table.posts td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

table.posts .date {
  padding-right: 0.5em;
  text-wrap: nowrap;
  vertical-align: top;
}

p.date {
  margin-top: 3em;
  margin-right: 1em;
  text-align: right;
}
